/* sass src/scss/styles_desktop.scss dist/styles/styles_desktop.css */
$GigasLightShade1: rgba(115, 90, 181);
$GigasLightShade2: rgba(99, 71, 160);
$GigasDarkShade1: rgba(87, 58, 143);
$GigasDarkShade2: rgba(76, 46, 126);

$SteelBlueLightShade1: rgb(125, 169, 216);
$SteelBlueLightShade2: rgba(92, 136, 189);
$SteelBlueDarkShade1:rgba(69, 111, 167);
$SteelBlueDarkShade2: rgba(47, 86, 143);
$hover-color:#4682B4;
$text-font: "Noto Sans", "Roboto", "Ubuntu", sans-serif;
%flex-wrapper {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

%flex-column {
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 28%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    font-family: $text-font;
}

html {
    width: 98vw;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background: #131313 url(../../public/images/header-background.jpg) no-repeat center top /cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    outline: none;
    border: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    padding: 5px 15px;
    cursor: pointer;
    &:hover {
        background-color: $GigasLightShade1;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

.header-menu {
    width: 95%;
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
    position: relative;
    nav {
        width: min(90%, 1180px);
        height: min(90vh, 860px);
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        ul {
            display: flex;
            position: fixed;
            margin: 0;
            padding: 0;
            li {
            list-style: none;
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    :hover {
                        color: #f6f6f6;
                    }
                }
            }
        }
        ul.nav_main_menu{
            width: min(90%, 1130px);
            margin: 0 auto;
        }
        ul.nav_soc_or_menu {
            flex-direction: column;
            top: 50%;
            transform: translateY(-50%);
            li{
                margin-bottom: 1rem;
            }
        }
        ul.nav_soc_wor_menu {
            width: min(90%, 1180px);
            display: flex;
            justify-content: space-around;
            top: 87%;
        }
        .nav_main_menu-mobile {
            display: none;
        }
    }
    button.counter {
        position: fixed;
        top: 86.5%;
        right: 10%;
        font-size: 1.3rem;
        padding: 0 25px;
        font-weight: lighter;
        z-index: 5;
    }
}

.nav_main_menu {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_main_menu a:hover {
    color: $GigasLightShade1;
}

.header-wrapper {
    margin: 0;
    margin-top: -5%;
    height: min(50%, 470px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        text-align: center;
    }
    p {
        text-align: center;
        width: 100%;
    }
}

main {
    width: 100vw;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 5%;
}

.section-1_wrapper, .section-3_wrapper, .section-4_wrapper {
    @extend %flex-wrapper;
    height: 79%;
    width: 85%;
}

.section-1_title, 
.section-2_title, 
.section-3_title, 
.section-4_title {
    width: 100%;
    text-align: center;
    height: 10%;
}

.section-1_column, .section-3_column {
    @extend %flex-column;
    background-color: $SteelBlueDarkShade2;
    h3 {
        color: #fff;
        text-align: center;
        width: 100%;
    }
    p {
        color: #fff;
        text-align: center;
        width: 100%;
    }
} 

.section-2 {
    height: 100vh;
    .section-2_title {
        font-size: 1.75rem;
        margin: 0 auto;
        height: auto;
    }
    .section-2_wrapper {
        position: relative;
        width: 90%;
        height: 100%;
    }
}

.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.active, 
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.35rem;
    justify-content: space-between;
    img {
        width: 70%;
        height: 70%;
    }
}

.project-name {
    padding: 10px;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
}

.control.left {
    left: 0;
    right: auto;
}

.control.left p, .control.right p {
    background-color: $SteelBlueLightShade1;
    border-radius: 50%;
    padding: 5px 15px;
    &:hover {
        background-color: $GigasDarkShade1;
    }
}

.control.right {
    right: 0;
    left: auto;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: lighter;
}

.arrow.right {
    right: 50%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

@media (max-width: 640px) {
    .arrow {
        display: none;
    }

    .project-name {
        display: none;
    }
}

.section-1_img_example, .section-3_img_example {
    width: 75%;
    height: auto;
}

.section-4 {
    background-color: $SteelBlueLightShade1;
    height: auto;
    .section-4_title {
        padding: 20px 0;
    }
}

.section-4_img_wrapper {
    width: 95%;
    img {
        width: 100%;
        height: 100%;
    }
}

.section-4 #contact_form {
    padding-top: 20px;
    width: 85%;
    padding-left: 2%;
    background-color: $SteelBlueDarkShade2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    color: #fff;
    label {
        padding-bottom: 5px;
        display: block;
        width: 80%;
    }
    #contacts_email {
        width: 80%;
        height: 4%;
        appearance: none;
        outline: none;
        font-size: 1rem;
        &:invalid {
            border: none;
            border: 1 solid #8D1D2C;
        }
    }
    .error {
        display: block;
        background-color: #f6f6f6;
        padding: 5px;
        width: 80%;
    }
    #contacts_textarea {
        width: 80%;
        height: 30%;
        &:invalid {
            border: none;
            border: 1 solid #8D1D2C;
        }
    }
    .section-4_urgency_check {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
        label {
            display: inline;
        }
        input {
            margin: 0;
            padding-right: 15px;
            
        }
    }
    .section-4_privacy_check {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
        label {
            display: inline;
        }
        input {
            margin: 0;
            padding-right: 15px;
        }
    }
    #contacts_btn_submit {
        font-size: 1.25rem;
        &:disabled {
            background-color: transparent;
            cursor: default;
            color: rgba(246, 246, 246, 0.5);
            border: 1px solid rgba(246, 246, 246, 0.5);
        }
    }
}

footer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    .footer-nav_sm_icons {
        display: flex;
        justify-content: space-between;
        width: 85%;
        a {
            text-decoration: none;
            color: $SteelBlueDarkShade2;
            text-transform: uppercase;
            span {
                font-size: 1.15rem;
                &:hover {
                    background-color: $GigasLightShade1;
                    color: #fff;
                }
            }
        }
    }
    p {
        width: 85%;
        text-align: center;
    }
}