/* sass src/scss/styles_mobile.scss dist/styles/styles_mobile.css */
$hover-color:#4682B4;
$text-font: "Noto Sans", "Roboto", "Ubuntu", sans-serif;
%flex-wrapper {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flex-column {
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    font-family: $text-font;
}

header {
    width: 100vw;
    height: 100vh;
    background: #131313 url(../../public/images/header-background.jpg) no-repeat center top /cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    outline: none;
    border: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    padding: 5px 15px;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
    }
}

.header-menu {
    width: 85%;
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
    nav {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            li {
            list-style: none;
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    :hover {
                        color: #f6f6f6;
                    }
                }
            }
        }
    }
}

.nav_main_menu {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.nav_main_menu a:hover {
    color: $hover-color;
}

.nav_icon_menu {
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &:hover {
        background-color: $hover-color;
    }
}

.nav_profile_menu {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}

.nav-buttons {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}

.nav-buttons button:first-child {
    margin-bottom: 20px;
}

#nav-input {
    outline: none;
    border: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
}

.header-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        text-align: center;
    }
    p {
        text-align: center;
        width: 100%;
    }
}

main {
    width: 100vw;
}

section {
    width: 100%;
    height: 145vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 5%;
}

.section-1_wrapper, .section-3_wrapper, .section-4_wrapper {
    @extend %flex-wrapper;
    height: 79%;
    width: 85%;
}

.section-1_title, 
.section-2_title, 
.section-3_title, 
.section-4_title {
    width: 100%;
    text-align: center;
    height: 10%;
}

.section-1_column, .section-3_column {
    @extend %flex-column;
    background-color: #65736E;
    margin-top: 3%;
    height: 50%;
    h3 {
        text-align: center;
        width: 100%;
    }
    p {
        text-align: center;
        width: 100%;
    }
} 

/*
.section-2_img {
    width: 33vw;
    flex-basis: 33%;
    height: 65vh;
    filter: grayscale(100%) brightness(50%);
    position: relative;
    left: 0;
}

.section-2_img:hover {
    filter: none;
}
*/
.section-2 {
    height: 100vh;
    .section-2_title {
        font-size: 1.75rem;
        margin: 0 auto;
        height: auto;
    }
    .section-2_wrapper {
        position: relative;
        width: 90%;
        height: 100%;
    }
}

.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.active, 
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.35rem;
    justify-content: space-between;
    img {
        width: 70%;
        height: 70%;
    }
}

.project-name {
    padding: 10px;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
}

.control.left {
    left: 0;
    right: auto;
}

.control.left p, .control.right p {
    background-color: lightGray;
    border-radius: 50%;
    padding: 5px 15px;
    &:hover {
        background-color: gray;
    }
}

.control.right {
    right: 0;
    left: auto;
}

.arrow.right {
    right: 50%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

    .arrow {
        display: none;
    }

.section-3_img_example {
    width: 80%;
    height: 80%;
}

.section-4 {
    background-color: #65736E;
    height: auto;
    .section-4_title {
        padding: 20px 0;
    }
}

.section-4_img_wrapper {
    display: none;
}

.section-4 #contact_form {
    padding-top: 20px;
    width: 85%;
    padding-left: 2%;
    background-color: #464646;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    color: #fff;
    label {
        padding-bottom: 5px;
        display: block;
        width: 80%;
    }
    #contacts_email {
        width: 80%;
        height: 4%;
        appearance: none;
        outline: none;
        font-size: 1rem;
        &:invalid {
            border: none;
            border: 1 solid #8D1D2C;
        }
    }
    .error {
        display: block;
        background-color: #f6f6f6;
        padding: 5px;
        width: 80%;
    }
    #contacts_textarea {
        width: 80%;
        height: 30%;
        &:invalid {
            border: none;
            border: 1 solid #8D1D2C;
        }
    }
    .section-4_urgency_check {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
        label {
            display: inline;
        }
        input {
            margin: 0;
            padding-right: 15px;
            
        }
    }
    .section-4_privacy_check {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
        label {
            display: inline;
        }
        input {
            margin: 0;
            padding-right: 15px;
        }
    }
    #contacts_btn_submit {
        font-size: 1.25rem;
        &:disabled {
            background-color: transparent;
            cursor: default;
            color: rgba(246, 246, 246, 0.5);
            border: 1px solid rgba(246, 246, 246, 0.5);
        }
    }
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
}