/* sass src/scss/styles_desktop.scss dist/styles/styles_desktop.css */
$GigasLightShade1: rgb(115, 90, 181);
$GigasLightShade2: rgb(99, 71, 160);
$GigasDarkShade1: rgb(87, 58, 143);
$GigasDarkShade2: rgb(76, 46, 126);

$SteelBlueLightShade1: rgb(125, 169, 216);
$SteelBlueLightShade2: rgb(92, 136, 189);
$SteelBlueDarkShade1: rgb(69, 111, 167);
$SteelBlueDarkShade2: rgb(47, 86, 143);
$hover-color: #4682B4;
$color16: #161616;
$text-font: "Noto Sans", "Roboto", "Ubuntu", sans-serif;

%flex-wrapper {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

%flex-column {
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 28%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 99vw;
    background-color: #131313;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    font-family: $text-font;
}

html {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background: #131313 url(../../public/images/header-background.jpg) no-repeat center top /cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
    pointer-events: none;
    align-items: center;
}

button {
    outline: none;
    border: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
        background-color: $GigasLightShade1;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

.header-menu {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        pointer-events: all;
        width: fit-content;
        backdrop-filter: blur(5px);

        li {
            list-style: none;

            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.25rem;

                :hover {
                    color: #f6f6f6;
                }
            }
        }
    }

    ul.nav_main_menu {
        margin: 0 auto;
        grid-column: 2;
        grid-row: 1;
        align-self: start;
        justify-self: center;
        column-gap: 1.5rem;
    }

    ul.nav_soc_or_menu {
        flex-direction: column;
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        li {
            margin-bottom: 1rem;
        }
    }

    ul.nav_soc_wor_menu {

        display: flex;
        justify-content: space-around;
        top: 87%;
        grid-column: 2;
        grid-row: 3;
        column-gap: 1.5rem;
        align-self: end;
        justify-self: center;
    }

    .nav_main_menu-mobile {
        display: none;
    }

    button.counter {
        display: flex;
        width: 76px;
        height: 36px;
        font-size: 1.3rem;
        padding: 0 25px;
        font-weight: lighter;
        z-index: 5;
        pointer-events: all;
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        justify-self: end;
    }
}

.nav_main_menu {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_main_menu a:hover {
    color: $GigasLightShade1;
}

.header-wrapper {
    margin: 0;
    margin-top: -5%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    flex-wrap: wrap;
    z-index: 5;
    height: fit-content;
    row-gap: 2rem;

    h1,
    p {
        text-align: center;
        width: 100%;
    }
}

main {
    width: 100vw;
    position: relative;
    z-index: 3;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 5%;
}

.section__wrapper {
    @extend %flex-wrapper;
    height: 79%;
    width: 85%;
}

.section__title {
    width: 100%;
    text-align: center;
    height: 10%;
    color: #fff;
}

.section__column {
    @extend %flex-column;
    border: 2px solid $GigasDarkShade1;
    border-radius: 7px;
    box-shadow: inset 0px 0px 4px 0px rgba(255, 255, 255, .5),
        0px 0px 4px 0px rgba(255, 255, 255, .5);

    h3 {
        color: #fff;
        text-align: center;
        width: 100%;
        max-width: 90%;
    }

    p {
        color: #fff;
        text-align: center;
        width: 100%;
    }
}

.section-2 {
    height: 100vh;

    .section-2_title {
        font-size: 1.75rem;
        margin: 0 auto;
        height: auto;
    }

    .section-2_wrapper {
        position: relative;
        width: 90%;
        height: 100%;
    }
}

.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.active,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.35rem;
    justify-content: space-between;

    img {
        width: 70%;
        height: 70%;
    }
}

.project-name {
    padding: 10px;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
}

.control.left {
    left: 0;
    right: auto;
}

.control.left p,
.control.right p {
    background-color: $SteelBlueLightShade1;
    border-radius: 50%;
    padding: 5px 15px;

    &:hover {
        background-color: $GigasDarkShade1;
    }
}

.control.right {
    right: 0;
    left: auto;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: lighter;
}

.arrow.right {
    right: 50%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

.section-1_img_example,
.section-3_img_example {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

footer {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #201f1f;

    .footer-nav_sm_icons {
        display: flex;
        justify-content: space-between;
        width: 85%;
    }

    p {
        width: 85%;
        text-align: left;
        color: #fff;
    }
}

@media (max-width: 640px) {
    .arrow {
        display: none;
    }

    .project-name {
        display: none;
    }

    .header-menu {
        width: 100%;
        height: auto;
        top: 0;

        nav {
            width: 100%;
            height: 40vh;
            position: relative;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: flex-end;
            flex-wrap: wrap;

            ul.nav_soc_wor_menu,
            ul.nav_soc_or_menu {
                display: none;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 1.25rem;

                        :hover {
                            color: #f6f6f6;
                        }
                    }
                }
            }

            .nav_main_menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: space-between;
                z-index: 5;
                position: absolute;
                top: 20%;
                width: 100%;
                height: auto;
                background-color: rgba(47, 86, 143, 0.7);

                li {
                    a {
                        display: block;
                        padding: 15px 0;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
            }

            .hide-menu {
                display: none;
            }

            .nav_main_menu-mobile {
                position: absolute;
                z-index: 5;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                height: 20%;
                background-color: $color16;

                button {
                    border: none;
                    padding: 0;
                    height: auto;
                    cursor: pointer;
                    padding: 30px;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    border-radius: 50%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    pointer-events: all;

                    span {
                        display: block;
                        background-color: #fff;
                        width: 60px;
                        height: 3px;
                        border-radius: 9px;
                        margin-bottom: 12px;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;
                    }

                    span:nth-child(3) {
                        margin-bottom: 0;
                    }
                }

                .btn-burger_menu_cross {
                    span:nth-child(1) {
                        transform: translate(0px, 14px) rotate(45deg);
                        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    }

                    span:nth-child(2) {
                        width: 0%;
                        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    }

                    span:nth-child(3) {
                        transform: translate(0px, -14px) rotate(-45deg);
                        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    }
                }
            }
        }
    }

    .header-wrapper {
        top: 40%;
    }

    section {
        height: auto;
        margin-bottom: 2rem;
    }

    .section__wrapper {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        gap: .5rem;
    }

    .section__title {
        height: auto;
    }

    .section__column {
        width: 85%;
        margin-top: 3%;
        height: auto;
        padding-bottom: 3%;

        img {
            width: 85%;
            height: auto;
        }
    }

    .section-2 {
        height: 50vh;

        .section-2_wrapper {
            height: 85%;
        }
    }

    .section-3_img_example {
        width: 80%;
    }

    footer p {
        width: 85%;
        text-align: center;
    }
}